body {
    margin:0;
    background: #76BED0;
    padding-bottom: 15px;
}

#nav-bar {
    background: #143B56;
    color: #76BED0;
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin-bottom: 30px;
}

#nav-bar:after {
    content: "";
    display: block;
    clear: both;
}

#menu-list {
    display: inline-block;
    float: right;
    height: 54px;
}

.menu-item {
    color: #FF7054;
    vertical-align: top;
    display: inline-block;
    padding: 15px;
    margin-right: 5px;
    transition-duration: 0.7s;
}

.menu-item:hover {
    color: #143B56;
    transition-duration: 0.7s;
    background-color: #F7CB15;
    border-radius: 10px;
}

#page-title-row {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
}

#page-title {
    display: inline-block;
    margin:0 10px 0 0;
    padding: 0;
    color: #143B56;
}

.orange-btn {
    border-color: #F55D3E;
    background-color: #D84427;
}

.orange-btn:hover, .orange-btn:active {
    border-color: #D84427;
    background-color: #D84427;
}

.orange-btn:focus {
    box-shadow: 0 0 0 2px #FFA62F;
}

.orange-btn:disabled {
    border-color: #FF7054;
    background-color: #F55D3E;
}

#content-holder {
    padding: 15px;
    background: #fff;
    text-align:center;
    border-radius: 5px;
}

#content-holder label {
    text-align: left;
}

.gutter {
    margin-bottom: 15px;
}

.map-col {
    padding: 8px;
    margin-bottom: 15px;
}

.maps {
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    transition-duration: 0.4s;
}

.maps:hover {
    margin: -2px -2px 0 0;
    box-shadow: 2px 2px 10px #888;
    transition-duration: 0.4s;
}

.active {
    background-color: #FFA62F;
}

#map-holder {
    padding: 0;
}

.map-name {
    background: #225B75;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
}

.map-view {
    margin-top: 1px;
    margin-bottom: 1px;
}

.map-time {
    background: #F7CB15;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


#side-bar {
    background: #FFF;
    border-radius: 5px;
    text-align: right;
    padding: 5px;
    height: 80vh;
    overflow: hidden;
}

.isHero {
height: auto;
}

.isHero .header {
    background-color: #F7CB15;
}